h4 How to use the app:
h5
  ol#howTo
    li.listItem Either click on 'Register' to register with an email and password or click 'Login' to login with one of your social accounts.
    li.listItem Once logged in, click on Profile and save one to the app. &nbsp;The profile picture URL is the URL to your online picture.  &nbsp;Add some money to the account.
    li.listItem Click on the 'New Sector' button to go to create a new sector. &nbsp; Once created, go to the Sector List page and click on a sector to add stocks to it.
    li.listItem Within each sector, you can add or sell stocks.&nbsp;The balance will be automatically subtracted or added to the overall balance.
    
